<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value ="DefaultEndpointsProtocol=https;AccountName=stacliff;AccountKey=5/9KxX0/fi05YVsBK5zHLa22feGXDz+rfrys1lXggo2MvIRz1IAHg7XKBt9BqOQoOuDaaFV0t+Gv9FlecIYidw==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>